## 문자열

In [23]:
a='신성로마제국' #문자열 표현법 4가지
b="비스텔바흐"
c="""우마이야"""
d='''앙비벋띠'''

print(a)
print(c)
print(d)

신성로마제국
우마이야
앙비벋띠

In [2]:
k = "Python's favorite food is perl" #문장에 작은따옴표

print(k)
k

Python's favorite food is perl

"Python's favorite food is perl"

In [34]:
k = "Python's favorite food is perl"
k

"Python's favorite food is perl"

In [3]:
l = '"Python is very easy." he says.' #문장에 큰따옴표
print(l)
l

"Python is very easy." he says.

'"Python is very easy." he says.'

In [39]:
food = 'Python\'s favorite food is perl' # 작은따옴표앞에 \붙혀서 작은따옴표로 둘러쌈
say = "\"Python is very easy.\" he says." # 큰따옴표앞에 \붙혀서 큰따옴표로 둘러쌈
food2 = "Python\'s favorite food is perl"
print(food)
print(say)
print(food2)

Python's favorite food is perl
"Python is very easy." he says.
Python's favorite food is perl

### 여러 줄인 문자열을 변수에 대입

In [42]:
e = "Life is too short\nYou need python" # \n을 쓰면 줄바뀜
print(e)

Life is too short
You need python

In [12]:
a = """

시발 새끼들아 내가 망할 거 같애?
내가 망할거같애?

"""# 줄 띄울때 세개쓰면됨

print(a)

시발 새끼들아 내가 망할 거 같애?
내가 망할거같애?

In [43]:
a='''앙아아아아
ㅏ잉낭니ㅏ''' # 줄 띄울때 세개쓰면됨

print(a)

앙아아아아
ㅏ잉낭니ㅏ

### 이스케이프 코드란?
- 이스케이프 코드란 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 "문자 조합"이다. 
        코드	설명  
        \n	 개행 (줄바꿈)  
        \t	 수평 탭  
        \\	 문자 "\"  
        \'	 단일 인용부호(')  
        \"	 이중 인용부호(")

In [14]:
a = '아\n이'
b = '아\t이'
c = '\\'

print(a)
print(b)
print(c)

아
이
아	이
\

### 문자열 연산하기

In [15]:
a = '가가각은 '
b = "루가각"
c = 3
print(a+b) #문자열 더해서 연결하기(Concatenation)
print(a*c) #문자열 곱하기
a*4

가가각은 루가각
가가각은 가가각은 가가각은

'가가각은 가가각은 가가각은 가가각은 '

In [7]:
print("="*50)
print("Aging Money")
print("="*50)

print(len('AgingMoney')) #len 문자 갯수 구하기 띄어쓰기도 갯수포함임

==================================================
Aging Money
==================================================
10

In [56]:
a = "Life is too short, You need Python"
print(a)
print(len(a))
len(a) #문자열 길이 구하기 띄어쓰기 포함

Life is too short, You need Python
34

34

### 문자열 인덱싱과 슬라이싱

In [62]:
#문자열 인덱싱
a = "Life is too short, You need Python"
print(a[0]) # 0부터 세기시작
print(a[1])
print(a[21])
print(a[22])
print(a[23])

a[14]

L
i
u

n
n

'o'

In [66]:
a = "Life is like an arrow"
print(a[-1]) #뒤에서 부터 세기 시작
print(a[-2])
print(a[-3])
print(a[-0]) #0과 -0은 똑같다.
print(a[0])

w
o
r
L
L

In [2]:
#문자열 슬라이싱
a = '너무 힘이 들어 날 버릴까봐'
b = a[0]+a[1]
c = a[0:4] #0부터 3까지임 마지막껀 뺀다 생각 0 <= a < 4
d = a[6:12] #0부터 시작할 필요는 없다.
print(b)
print(c)
print(d)

너무
너무 힘
들어 날 버

In [5]:
a = 'cogito ergo sum'
print(len(a))
print(a[14])
print(a[8:]) # 끝 번호 부분을 생략하면 시작 번호부터 그 문자열의 끝까지 뽑아낸다.
print(a[:8]) # 시작 번호를 생략하면 문자열의 처음부터 끝 번호-1 까지 뽑아낸다.
print(a[:]) # 시작 번호와 끝 번호를 생략하면 문자열의 처음부터 끝까지를 뽑아낸다.
print(a[12:-1])

15
m
rgo sum
cogito e
cogito ergo sum
su

In [4]:
a = "Life is beautiful"
print(a[0:10])
print(a[:10])

Life is be
Life is be

In [35]:
a = "20190120Dusty"
print(a[8])
date = a[:8] #a[8]이 포함되지 않고
print(date)
whether = a[8:] #a[8]을 포함
print(whether)

D
20190120
Dusty

### "Pithon"이라는 문자열을 "Python"으로 바꾸려면?

In [37]:
a = "pithon"
a[1] = 'y' #문자열의 요소값은 바꿀 수 있는 값이 아님 (문자열, 튜플 등 의 자료형은 그 요소값을 변경할 수 없다.)

TypeError: 'str' object does not support item assignment

In [7]:
a = "Pithon"
print(a[:1])
print(a[2:])
print(a[:1] + 'y' + a[2:])

P
thon
Python

### 문자열 포매팅
- 문자열 내의 특정한 값을 바꿔야 할 경우
- 문자열 포매팅이란 쉽게 말해 문자열 내에 어떤 값을 삽입하는 방법이다.

### 문자열 포매팅 따라 하기

In [47]:
# 숫자 바로 대입
print("I eat %d apples." % 7)
"I eat %d apples." % 7

I eat 7 apples.

'I eat 7 apples.'

In [45]:
#문자열 바로 
"I eat %s apples." % "five"

'I eat five apples.'

In [48]:
#숫자 값을 나타내는 변수로 대입
number = 5
"I eat %d apples." % number

'I eat 5 apples.'

In [50]:
#2개 이상의 값 넣기
number = 10
day = "five"
"I ate %d apples. so I was sick for %s days." % (number, day)

'I ate 10 apples. so I was sick for five days.'

### 문자열 포맷 코드
    코드	설명
    %s	문자열 (String)
    %c	문자 1개(character)
    %d	정수 (Integer)
    %f	부동소수 (floating-point)
    %o	8진수
    %x	16진수
    %%	Literal % (문자 % 자체)

In [58]:
# %s 포맷 코드, 이 코드는 어떤 형태의 값이든 변환해 넣을 수 있다.
print("I have %s notes" % 3)
print("ratio is %s" % 3.4)
# %s는 자동으로 % 뒤에 있는 값을 문자열로 바꾸기 때문

I have 3 notes
ratio is 3.4

In [61]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다
"Error is %d%%." % 98
# %를 나타내려면 반드시 %%로 써야 하는 법칙

'Error is 98%.'

In [9]:
# 하지만 문자열 내에 %d 같은 포매팅 연산자가 없으면 %는 홀로 쓰여도 상관이 없다.
'% is so hard'

'% is so hard'

### 포맷 코드와 숫자 함께 사용하기

#### 정렬과 공백

In [67]:
"%10s" % "hello" # "%10s"의 의미 : 전체 길이가 10개인 문자열 공간에서 hello를 오른쪽으로 정렬하고 그 앞의 나머지는 공백으로 남겨라
print("%10s" % "hello")
print(len("%10s" % "hello"))

     hello
10

In [71]:
"engage%10s" % "hello"
print("engage%10s" % "hello")
print(len("engage%10s" % "hello"))

engage     hello
16

In [77]:
"%-10s" % 'hi' #왼쪽 정렬
print("%-10s" % 'hi')
print("%-10sjane" % 'hi')
print(len("%-10sjane" % 'hi'))

hi
hi        jane
14

#### 소수점 표현하기

In [78]:
"%0.4f" % 3.42134234 # 소수점 네 번째 자리까지만

'3.4213'

In [11]:
"%10.4f" % 3.42134234 # 숫자를 소수점 네 번째 자리까지만 표시하고 전체 길이가 10개인 문자열 공간에서 오른쪽으로 정렬

'    3.4213'

In [80]:
len("%10.4f" % 3.42134234)

10

### format 함수를 이용한 포매팅
- 문자열의 format 함수를 이용하면 좀 더 발전된 스타일로 문자열 포맷을 지정할 수 있다.<br>앞에서 살펴본 문자열 포매팅 예제들을 format 함수를 이용해서 바꾸면 다음과 같다.

In [6]:
# 숫자 바로 대입하기
a = "I eat {0} apples".format(3)
print(a)

"I eat {} apples".format(3) # 0 안써도 됨

I eat 3 apples

'I eat 3 apples'

In [7]:
# 문자열 바로 대입하기
"I eat {} apples".format("five")

'I eat five apples'

In [8]:
# 숫자 갑을 가진 변수로 대입하기
number = 3
"I eat {0} apples".format(number)

'I eat 3 apples'

In [15]:
# 2개 이상의 값 넣기
number = 3
day = "three"
"I ate {0} apples. so I was sick for {1} days.".format(number,day)

'I ate 3 apples. so I was sick for three days.'

In [13]:
# 이름으로 넣기
"I ate {number} apples. so I was sick for {day} days.".format(number=10,day=3)
# name=value와 같은 형태의 입력값

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
# 인덱스와 이름을 혼용해서 넣기
"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [18]:
# 왼쪽 정렬
"{0:<10}".format("hi")
# :<10 표현식을 이용하면 치환되는 문자열을 왼쪽으로 정렬하고 문자열의 총 자릿수를 10으로 맞출 수 있다.

'hi        '

In [19]:
len("{0:<10}".format("hi"))

10

In [20]:
# 오른쪽 정렬
"{0:>10}".format("hi")
# 오른쪽 정렬은 :< 대신 :>을 이용하면 된다.

'        hi'

In [21]:
# 가운데 정렬
"{0:^10}".format("hi")

'    hi    '

In [23]:
# 공백 채우기
"{0:=^10}".format("hi")

'====hi===='

In [24]:
"{0:5^10}".format("hi")

'5555hi5555'

In [26]:
# 소수점 표현하기
y = 3.141592
"{0:0.4f}".format(y)
# 소수점을 4자리까지만 표현하는 방법, 표현식 0.4f가 그대로 이용

'3.1416'

In [28]:
"{0:10.4f}".format(y) # 자릿수를 10으로 맞출 수도 있다. "10.4f"의 표현식

'    3.1416'

In [31]:
# { 또는 } 문자 표현하기
"{{and}}".format()
# format 함수를 이용해 문자열 포매팅을 할 경우 {나 }
# 포매팅 문자가 아닌 문자 그대로 사용하고 싶은 경우에는 {{와 }}

'{and}'

### f 문자열 포매팅
- 파이썬 3.6 버전부터는 f 문자열 포매팅 기능을 사용할 수 있다. 파이썬 3.6 미만 버전에서는 사용할 수 없는 기능이므로 주의해야 한다.
- 다음과 같이 문자열 앞에 f 접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다.

In [34]:
name = '홍길동'
age = 30
f'나의 이름은 {name}입니다. 나이는 {age}입니다.'
# f 문자열 포매팅은 위와 같이 name, age와 같은 변수 값을 생성한 후에 그 값을 참조할 수 있다.

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [36]:
age = 30
f'나는 내년이면 {age+1}살이 된다.'

'나는 내년이면 31살이 된다.'

In [43]:
# 딕셔너리는 f 문자열 포매팅에서 다음과 같이 사용할 수 있다.
d = {'name' : '홍길동', 'age' : 30}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다.'

'나의 이름은 홍길동입니다. 나이는 30입니다.'

In [48]:
# 정렬
f'{"hi":<10}' # 왼쪽 정렬

'hi        '

In [49]:
f'{"hi":>10}'  # 오른쪽 정렬

'        hi'

In [50]:
f'{"hi":^10}'  # 가운데 정렬

'    hi    '

In [51]:
# 공백 채우기
f'{"hi":=^10}'

'====hi===='

In [53]:
# 소수점
y = 3.42134234
f'{y:0.4f}'  # 소수점 4자리까지만 표현

'3.4213'

In [54]:
f'{y:10.4f}'  # 소수점 4자리까지 표현하고 총 자리수를 10으로 맞춤

'    3.4213'

In [55]:
# '{' 나 '}' 문자를 표시
f'{{ and }}'

'{ and }'

### 문자열 관련 함수들

In [1]:
# 문자 개수 세기
a = 'hobby'
a.count('b')

2

In [6]:
# 위치 알려주기 1
a = "python is the best choice"
a.find('b')
# 문자열 중 문자 b가 처음으로 나온 위치를 반환한다.

14

In [7]:
a.find('k')
# 만약 찾는 문자나 문자열이 존재하지 않는다면 -1을 반환한다.

-1

In [8]:
# 위치 알려주기 2
a = "life is too short"
a.index('t')

8

In [10]:
a.index('k')
# 만약 찾는 문자나 문자열이 존재하지 않는다면 오류를 발생시킨다.

ValueError: substring not found

In [12]:
# 문자열 삽입
",".join('abcd')

'a,b,c,d'

In [22]:
print(",".join('abcd'))
print(len(",".join('abcd')))
print(type(",".join('abcd')))

a,b,c,d
7
<class 'str'>

In [26]:
# join 함수는 문자열 뿐만 아니라 앞으로 배우게 될 리스트나 튜플을 입력으로 사용할 수 있다.
",".join(['a','b','c','d','e'])

'a,b,c,d,e'

In [23]:
type(",".join(['a','b','c','d','e']))

str

In [25]:
print("".join(['a','b','c','d','e']))

abcde

In [21]:
# 소문자를 대문자로 바꾸기
a = "hi"
a.upper()

'HI'

In [22]:
# 대문자를 소문자로 바꾸기
a = "HI"
a.lower()

'hi'

In [24]:
# 왼쪽 공백 지우기
a = ' hi '
a.lstrip()

'hi '

In [26]:
# 오른쪽 공백 지우기
a = ' hi '
a.rstrip()

' hi'

In [29]:
# 양쪽 공백 지우기
a = " hi "
a.strip()

'hi'

In [30]:
# 문자열 바꾸기
a = "Life is too short"
a.replace("Life","Your leg")

'Your leg is too short'

In [32]:
# 문자열 나누기
a = "Life is too short"
a.split()
# 괄호 안에 아무런 값도 넣어 주지 않으면 공백(스페이스, 탭, 엔터등)을 기준으로 문자열을 나누어 준다.

['Life', 'is', 'too', 'short']

In [34]:
a = "a:b:c:d"
a.split(":")
# 이렇게 나눈 값은 리스트에 하나씩 들어가게 된다.

['a', 'b', 'c', 'd']